body{
    background-color: black;
    color: white;
}

h2{
    margin: 0;
}

.colors, .fonts, .text-style{
    border: 2px solid grey;
    border-radius: 5px;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
}

.panel{
    display: inline-block;
    width: 200px;
    text-align: center;
    margin: 10px auto;
    height: auto;
}
.color1{
    background-color: #1D396D;
    color: white;
}
.color2{
    background-color:#6A8DD9;
    color: white;
}
.color3{
    background-color: #4660A8;
    color: white;
}
.color4{
    background-color: #A2AFCD;
    color: white;
}
.color5{
    background-color: #D5E3F1;
    color: white;
}

.fonts ul{
    list-style: none;
    display: inline-block;
    padding-inline-start: 10px;
}
.fonts li{
    padding: 5px;
}

.box{
    display: inline-block;
    height: auto;
    width: 33%;
}

.font1{
    font-family: "Roboto", arial;
}

.font2{
    font-family: "Monteserrat", arial;
}

.font2{
    font-family: Arial, Helvetica, sans-serif;
}

.bold{
    font-weight: 700;
}

.italic{
    font-style: italic;
}
.text-style{
    font-family: "Roboto", arial;
}